{% extends "base.html" %}

{% block style %}
        <style>
            table {
                width: 100%;
                text-align: center;
            }
            
            table tr th {
                border: 1px solid black;
            }
            
            table tr td {
                position: relative;
                border: 1px solid black;
                overflow: hidden;
            }
            
            .grayFont {
                color: #aaa;
                text-decoration: line-through;
            }
            
            input[type="text"] {
                border: none;
                width: 100%;
                height: 100%;
                float:left;
                background-color: #ffffff!important;
            }
            
            .calBox {
                position: absolute;
                top: -8px;
                right: 0;
                width: 70px;
                height: 44px;
            }
            
            .calBox2 {
                height: 58px;
            }
            
            .calBox>div {
                border-left: 1px solid #ccc;
            }
            
            .plus {
                display: inline-block;
                width: 50%;
                height: 100%;
                line-height: 44px;
                cursor: pointer;
                font-size: 1.3em;
                background-color: #d1ecf1;
            }
            
            .minus {
                display: inline-block;
                width: 50%;
                height: 100%;
                line-height: 44px;
                cursor: pointer;
                font-size: 1.5em;
                background-color: #f8d7da;
            }
            
            .calBox2 .plus, .calBox2 .minus {
                line-height: 58px;
            }
                
            .present {
                font-weight: bold;
            }
            
            .pink {
                background-color: #f8d7da;
            }
            
            .blue {
                background-color: #cce5ff;
            }
            
            .gray {
                background-color: #d6d8d9;
            }
            
            .yellow {
                background-color: #fff3cd;
            }
            
            @media all and (max-width: 990px){
               
            }
            
            @media all and (max-width: 780px){
                
            }
        </style>
{% endblock style %}

{% block content %}
        <div style="width:100%; height: 30px;">
        </div>
        <div class="container">
            <div style="overflow: auto;">
                <div class="float-right mt-3">
                    <h4><span class="badge badge-secondary">담당자</span><span class="badge">{{ user.username }}</span> </h4>
                </div>
            </div>
            
            <form class="w-100 mt-3" action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="custom" id="id_custom" value="{{ pk }}" />

                {{ form.title }}
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" class="alert alert-primary" style="border:1px solid black;">제품명</th>
                            <th class="alert alert-primary" style="border:1px solid black;">가격</th>
                            <th class="alert alert-primary" style="border:1px solid black;">No</th>
                            <th class="alert alert-primary" style="border:1px solid black;">옵션</th>
                            <th class="alert alert-primary" style="border:1px solid black;width:150px;">수량</th>
                            <th class="alert alert-primary" style="border:1px solid black;">구입금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="6" style="width:40px; border:1px solid black;" class="alert alert-success">침<br />구</td>
                            <td rowspan="2">짱구베게</td>
                            <td rowspan="2" class="p"><div class="grayFont">27,000</div><div class="real">17,000</div></td>
                            <td>39</td>
                            <td class="pink" style="width:70px;">핑크</td>
                            <td style="width: 100px;">{{ form.p23 }}<div class="calBox"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td style="width: 150px;" class="price">{{ form.r23 }}</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td class="p" style="display: none;"><div class="grayFont">27,000</div><div class="real">17,000</div></td>
                            <td class="blue">블루</td>
                            <td>{{ form.p24 }}<div class="calBox"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r24 }}</td>
                        </tr>
                        <tr>
                            <td>베개커버</td>
                            <td class="p"><div class="grayFont">10,000</div><div class="real">7,000</div></td>
                            <td>41</td>
                            <td class="gray">그레이</td>
                            <td>{{ form.p25 }}<div class="calBox calBox2"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r25 }}</td>
                        </tr>
                        <tr>
                            <td rowspan="3">거즈 블랭킷</td>
                            <td rowspan="3" class="p"><div class="grayFont">34,000</div><div class="real">17,000</div></td>
                            <td>42</td>
                            <td class="pink">반짝반짝</td>
                            <td>{{ form.p26 }}<div class="calBox"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r26 }}</td>
                        </tr>
                        <tr>
                            <td>43</td>
                            <td class="p" style="display: none;"><div class="grayFont">34,000</div><div class="real">17,000</div></td>
                            <td class="yellow">동글동글</td>
                            <td>{{ form.p27 }}<div class="calBox"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r27 }}</td>
                        </tr>
                        <tr>
                            <td>44</td>
                            <td class="p" style="display: none;"><div class="grayFont">34,000</div><div class="real">17,000</div></td>
                            <td class="blue">똑똑</td>
                            <td>{{ form.p28 }}<div class="calBox"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r28 }}</td>
                        </tr>
                        
                        
                        
                        <tr>
                            <td rowspan="5" class="alert alert-success" style="border:1px solid black;">신<br />생<br />아<br /> 의<br />류<br />세<br />트</td>
                            <td colspan="6" class="alert alert-dark" style="border:1px solid black;">세트 구성: 배냇저고리 / 속싸개 / 손사개 / 턱받이 / 아기모자 <span class="present">[선물]</span> 발싸개</td>
                        </tr>
                        <tr>
                            <td>크림 5종 배송+발싸개</td>
                            <td class="p"><div class="grayFont">120,000</div><div class="real">69,000</div></td>
                            <td>45</td>
                            <td></td>
                            <td>{{ form.p29 }}<div class="calBox calBox2"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r29 }}</td>
                        </tr>
                        <tr>
                            <td rowspan="2">단동십훈 5종 배송+발싸개</td>
                            <td rowspan="2" class="p"><div class="grayFont">130,000</div><div class="real">75,000</div></td>
                            <td>46</td>
                            <td class="pink">연꽃문</td>
                            <td>{{ form.p30 }}<div class="calBox"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r30 }}</td>
                        </tr>
                        <tr>
                            <td>47</td>
                            <td class="p" style="display: none;"><div class="grayFont">130,000</div><div class="real">75,000</div></td>
                            <td class="blue">길상문</td>
                            <td>{{ form.p31 }}<div class="calBox"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r31 }}</td>
                        </tr>
                        <tr>
                            <td>솔솔 5종 배송+발싸개</td>
                            <td class="p"><div class="grayFont">117,000</div><div class="real">66,000</div></td>
                            <td>48</td>
                            <td></td>
                            <td>{{ form.p32 }}<div class="calBox calBox2"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r32 }}</td>
                        </tr>
                        
                        
                        <tr>
                            <td rowspan="4" class="alert alert-success" style="border:1px solid black;">배<br />냇<br />저<br />고<br />리</td>
                            <td>크림 배냇저고리</td>
                            <td class="p"><div class="grayFont">32,000</div><div class="real">20,000</div></td>
                            <td>49</td>
                            <td></td>
                            <td>{{ form.p33 }}<div class="calBox calBox2"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r33 }}</td>
                        </tr>
                        <tr>
                            <td rowspan="2">단동십훈 배냇저고리</td>
                            <td rowspan="2" class="p"><div class="grayFont">35,000</div><div class="real">22,000</div></td>
                            <td>50</td>
                            <td class="pink">연꽃문</td>
                            <td>{{ form.p34 }}<div class="calBox"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r34 }}</td>
                        </tr>
                        <tr>
                            <td>51</td>
                            <td class="p" style="display: none;"><div class="grayFont">35,000</div><div class="real">22,000</div></td>
                            <td class="blue">길상문</td>
                            <td>{{ form.p35 }}<div class="calBox"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r35 }}</td>
                        </tr>
                        <tr>
                            <td>솔솔 배냇저고리</td>
                            <td class="p"><div class="grayFont">30,000</div><div class="real">19,000</div></td>
                            <td>52</td>
                            <td></td>
                            <td>{{ form.p36 }}<div class="calBox calBox2"><div class="plus">+</div><div class="minus">-</div></div></td>
                            <td class="price">{{ form.r36 }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group pt-4 pb-4">
                    <input type="submit" class="btn btn-primary w-100" value="전송" />
                </div>
            </form>
        </div>
        <script>
            var x = "20,000";
            var xx = x.split(",");
            var y = "12345";
            var yy = y.substr(0,2);
            
            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            
            
            $(".plus").click(function(){
                var content = $(this).parent(".calBox").siblings("input").val();
                var price = $(this).parent(".calBox").parent("td").siblings(".p").children(".real").text();
                if(content == ""){
                    $(this).parent(".calBox").siblings("input").val(1);
                    $(this).parent(".calBox").parent("td").siblings(".price").children("input").val(price);
                }else{
                    $(this).parent(".calBox").siblings("input").val(parseInt(content)+1);
                    var splitPrice = price.split(",");
                    price = parseInt(splitPrice[0]+splitPrice[1]);
                    price = price*(parseInt(content)+1);
                    price = numberWithCommas(price);
                    $(this).parent(".calBox").parent("td").siblings(".price").children("input").val(price);
                }
            });
            
            $(".minus").click(function(){
                var content = $(this).parent(".calBox").siblings("input").val();
                var price = $(this).parent(".calBox").parent("td").siblings(".p").children(".real").text();
                if(content == "" || content == "1"){
                    $(this).parent(".calBox").siblings("input").val("");
                    $(this).parent(".calBox").parent("td").siblings(".price").children("input").val("");
                }else{
                    $(this).parent(".calBox").siblings("input").val(parseInt(content)-1);
                    var splitPrice = price.split(",");
                    price = parseInt(splitPrice[0]+splitPrice[1]);
                    price = price*(parseInt(content)-1);
                    price = numberWithCommas(price);
                    $(this).parent(".calBox").parent("td").siblings(".price").children("input").val(price);
                }
            });
            
        </script>
{% endblock content %}